.main_acc__box .mob_info__title,
.main_acc__box .mob_info__txt{
    padding: 0 15%;
    width: 100%;
    max-width: none;
}
.bg-grey-mob .main_acc__in,
.bg-grey-mob .main_acc__coub{
    position: relative;
}
.mobile_coub_block{
    position: absolute;
    top: 0;
    opacity:0;
    width: 100%;
}
.bg-grey-mob .main_acc__box3 .mob_info__title h1{
    font-weight: 400;
    font-size: 39px;
    letter-spacing: -1.5px;
}
.command__list ul li .info p{
    font-weight: bold;
}